################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/obj/Debug
/.ntvs_analysis.dat
